@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: "Merriweather", serif;
}

/* banner section starts here */

.banner-container
{
    max-width: 1320px;
min-height: 600px;
 
margin:0 auto;
margin-top: 20px;
background-color: rgba(116, 71, 71, 0.9);
background-image: url('/resources/Banner\ Image.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: overlay;
}

.banner-content
{
color: white;
display: flex;
flex-direction: column;
 justify-content:center;
 align-items: center;
 height: 600px; 
text-align: center;

 
 

} 
.banner-content h1{
    font-size: 72px;
font-weight: 900;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}


/* 65% section style starts here */
.sixty-five 
{
    width: 802.9px;
    height: 806px;
 
    margin: 0 auto;
    margin-top: 120px;
    
} 

.sixty-five-content h1
{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
 
    text-align: center;
} 

.sixty-five-content p
{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
 
    
    text-align: center;
}

.sixty-five-content h3
{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
  
    text-align: center;
}

.img-container img
{
  height: 100%;
  width: 100%;
} 

/* midnight section starts here */ 

.midnight-party-container
{
    width: 1320px;
height: 600px;
 
margin: 0 auto;
display: flex;
background-image: url('/resources/Vectorrr.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
background-color: rgba(0,0,0,0.5);
background-blend-mode: overlay;
} 

.left-side-content
{
    width: 50%;
    height: 600px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-side-content
{
    width: 50%;
    height: 600px;
 
} 

.left-side-content h1
{
    color: rgb(255, 249, 249);
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 900;
 
} 

.left-side-content p
{ 
    color: rgba(255, 254, 254, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
text-align: left;
margin-left: 120px;
margin-top: 20px;
}

  .button
{
   color: white;
    width: 103px;
    height: 24px;
    text-align: left;
    margin-top: 50px;
    margin-right: 250px;
} 


 

.right-side-content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

} 